.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card {
    border-radius: 5px;
    background-color: #fff;
   
}
.mydivider {
    border-bottom: solid 3px rgb(115, 124, 133);	
}